ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   overflow: auto;
    background-color: rgb(200,200,200);

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
   text-decoration: none;
}

li a:hover {
    background-color:gray;
	    color: white;
}